/*
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-1-hex { color: #F2527D; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-2-hex { color: #D936A0; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-3-hex { color: #F249D6; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-4-hex { color: #151740; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-5-hex { color: #18D9D9; }

Color Theme Swatches in RGBA
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-1-rgba { color: rgba(242, 82, 125, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-2-rgba { color: rgba(216, 54, 159, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-3-rgba { color: rgba(242, 72, 213, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-4-rgba { color: rgba(21, 23, 63, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-5-rgba { color: rgba(23, 216, 216, 1); }

Page Background: #151740
Title: #f249d6
Subtitle: #d936a0
Text: #f2527D
Elements: #18d9d9
*/