/*
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-1-hex { color: #F2527D; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-2-hex { color: #D936A0; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-3-hex { color: #F249D6; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-4-hex { color: #151740; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-5-hex { color: #18D9D9; }

Color Theme Swatches in RGBA
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-1-rgba { color: rgba(242, 82, 125, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-2-rgba { color: rgba(216, 54, 159, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-3-rgba { color: rgba(242, 72, 213, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-4-rgba { color: rgba(21, 23, 63, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-5-rgba { color: rgba(23, 216, 216, 1); }

Page Background: #151740
Title: #f249d6
Subtitle: #d936a0
Text: #f2527D
Elements: #18d9d9
*/

html {
	font-family: sans-serif;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 15px;
	/*    overflow: hidden;*/
}

p {
	text-indent: 1em;
}

h1,
h2,
h3 {
	text-align: center;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.2rem;
}

[role="article"] > p {
	text-align: center;
	line-height: 1.5;
}

abbr {
	text-transform: lowercase;
}

#design-archives {
display: none;
}

.page-wrapper {
	max-width: 1280px;
	width: 80%;
	position: relative;
}

#zen-intro {
	height: 550px;
}

#zen-intro > header {
	background-color: #151740;
	color: white;
}

.intro > [role="banner"] {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0em 1em;
}

aside ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

nav ul li {
	margin-bottom: 1em;
}

footer {
	margin-bottom: 4%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

footer a {
	border: solid 1px #151740;
	padding: 0em 0.5em;
}

.explanation {
	width: 60%;
	margin-right: 35%;
	border-right: solid 1px #1f295c;
	padding-right: 2%;
}

#design-selection {
    position: absolute;
    top: 560px;
    left: 62%;
    padding: 0% 3%;
}

/*  Agora mova o menu de designs para a direita da página,
 ocupando o espaço em branco deixado pelo elemento .explanation .

- Faça-o iniciar na parte superior da página,
 após a parte de introdução (por exemplo, aplicando top: 560px ).

- Faça-o iniciar após o elemento .explanation 
(por exemplo, aplicando left: 62% ).

- Adicione um espaçamento interno horizontal de 2% no menu para centralizá-lo.

*/
