/*
Color Theme Swatches in HEX
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-1-hex { color: #F2527D; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-2-hex { color: #D936A0; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-3-hex { color: #F249D6; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-4-hex { color: #151740; }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-5-hex { color: #18D9D9; }

Color Theme Swatches in RGBA
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-1-rgba { color: rgba(242, 82, 125, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-2-rgba { color: rgba(216, 54, 159, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-3-rgba { color: rgba(242, 72, 213, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-4-rgba { color: rgba(21, 23, 63, 1); }
.Retro-1980s-style-background-with-palm-trees,-sun,-and-mountains.-Futuristics-Landscape-5-rgba { color: rgba(23, 216, 216, 1); }

Page Background: #151740
Title: #f249d6
Subtitle: #d936a0
Text: #f2527D
Elements: #18d9d9
*/

html {
	font-family: sans-serif;
	margin: 0 auto;
	color: #f2527d;
}

body {
	height: 100%;
	margin: 0;
	padding: 15px;
	background-color: #151740;
	/*    overflow: hidden;*/
}

p {
	text-indent: 1em;
	color: #f2527d;
}

h1,
h2,
h3 {
	text-align: center;
	color: #d936a0;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.2rem;
}

abbr {
	/*	text-transform: lowercase;*/
	text-decoration: none;
}

[role="article"] > p {
	text-align: center;
	line-height: 1.5;
}

#design-archives {
	display: none;
}

.page-wrapper {
	max-width: 1280px;
	width: 80%;
	position: relative;
}

#zen-intro {
	height: 450px;
}

#zen-intro > header {
	background-color: #151740;
	color: white;
}

.intro > [role="banner"] {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0em 1em;
}

aside ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

nav ul li {
	margin-bottom: 1em;
}

footer {
	margin-bottom: 4%;
}

footer a {
	border: solid 1px #18d9d9;
	padding: 0em 0.5em;
}

.explanation {
	width: 60%;
	height: 420px;
	margin-right: 35%;
	border-right: solid 2px #18d9d9;
	padding-right: 2%;
}

#design-selection {
	position: absolute;
	top: 450px;
	left: 62%;
	padding: 0% 3%;
}

footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	text-align: center;
}

footer a {
	flex-basis: 80px;
}

#zen-benefits {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	border-bottom: solid 1px #18d9d9;
	border-top: solid 1px #18d9d9;
}

#zen-benefits h3 {
	flex-grow: 3;
	order: 2;
}

#zen-benefits p {
	flex-grow: 7;
	order: 1;
}

#zen-participation {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	border-top: 1px solid #18d9d9;
}

#zen-participation h3 {
	order: 1;
	flex-basis: 50%;
}

#zen-participation p {
	order: 2;
	flex-basis: 50%;
}

a {
	color: #f249d6;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #ff7ee9;
}

a:visited {
	color: #f249d6;
	font-weight: normal;
}

[role="main"] p:first-of-type::first-letter {
	font-size: 3rem;
	font-family: "Times New Roman", Times, serif;
	float: left;
}

nav ul li {
	border-top: solid 1px #18d9d9;
	padding-top: 10px;
}

nav ul li:last-child {
	border-bottom: solid 1px #18d9d9;
	padding-bottom: 10px;
}
