/* Color Theme Swatches in Hex
Cinza { color: #595959; }
Cinza Claro { color: #F1F0F2; }
Preto { color: #202026; }
Ouro { color: #C9A62A; }
Bege { color: #735D1D; }
 */

/* Estilos gerais para HTML */
html {
	font-family: "Inter", "Verdana", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

html p {
	color: #202026;
}

/* Estilos gerais para o body */
body {
	background: linear-gradient(to right, #868f98 33%, #ced2d5 33%);
	height: 100%;
}

/* Estilos para o container da página */
.page__wrapper {
	margin: 28px 28px;
}

/* Estilos para o cabeçalho */
header {
	background-color: #202026;
	height: fit-content;
	width: 100%;
	max-width: 1024px;
}

/* Estilos para a seção de informações pessoais */
.personal_info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding-bottom: 25px;
	border-bottom: #c9a62a solid 2px;
}

/* Estilos para a foto pessoal */
.personal_photo > img {
	border: solid 3px white;
	margin-top: -30px;
}

/* Estilos para os contatos pessoais */
.personal_contact {
	text-align: center;
}

.personal_contact h1 {
	color: #ced2d5;
	font-size: 2.4em;
	font-variant: petite-caps;
	text-align: center;
}

.personal_contact h2 {
	color: #c9a62a;
	font-size: 1.8em;
	font-variant: petite-caps;
	text-align: center;
}

/* Lista de contatos pessoais */
.personal_contact ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 0px;
}

/* Estilos para itens da lista de contatos pessoais */
.personal_contact li {
	color: #f1f0f2;
	text-align: center;
	padding-top: 10px;
	font-weight: 500;
}

/* Estilos para ícones FontAwesome */
.fa-solid {
	color: #c9a62a;
}

/* Estilos para o conteúdo principal */
main {
	background-color: #f1f0f2;
	padding: 15px;
	height: fit-content;
}

/* Estilos para os artigos de histórico pessoal */
.personal_history > article {
	margin-bottom: 4vh;
}

/* Estilos para os cartões de histórico pessoal */
.personal_history__card:first-child {
	/* Placeholder para personalização futura */
}

.personal_history__card h1,
.personal_history__card h2,
.personal_history__card h3,
.personal_history__card p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para cabeçalhos dentro do histórico pessoal */
.personal_history h2:first-of-type {
	border-bottom: solid 1px #c9a62a;
}

.personal_history h3 {
	margin-top: 0.7vh;
}

.personal_history p {
	margin-bottom: 2vh;
}

/* Estilos para habilidades */
.personal_history__card__skills:first-of-type ul {
	margin-top: 0.7vh;
}

/* Estilos para o rodapé */
.footer {
	background-color: #202026;
	padding-top: 13px;
	padding-bottom: 15px;
}

.footer p {
	color: #ced2d5;
}

/* Estilos para o texto do rodapé */
.footer__text {
	text-align: center;
	display: block;
}

/* Estilos para ícones do rodapé */
.footer__icons ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-inline-start: 0px;
}

.footer__icons li {
	flex-basis: 80px;
	text-align: center;
}

.footer a {
	color: #ced2d5;
	text-decoration: none;
	font-weight: bold;
	font-variant: petite-caps;
}

/* Estilos para a barra de navegação das seções */
.sections_nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #202026;
	padding-top: 5px;
	padding-bottom: 7px;
	z-index: 1000;
	width: 100%;
}

/* Estilos para lista de navegação das seções */
.sections_nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	padding-inline-start: 0px;
}

.sections_nav li {
	padding-right: 15px;
	text-align: center;
}

.sections_nav:first-of-type li {
	padding-left: 25px;
}

.sections_nav li,
.sections_nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: small;
}

/* Estilos para a seção de perfil de histórico pessoal */
.personal_history__profile {
	/* Placeholder para personalização futura */
}

/* Estilos para barra de progresso */
.personal_language__card__progress_bar {
	width: 80%;
	margin-top: 0.7vh;
	max-width: 40%;
}

.progress_bar {
	margin-bottom: 20px;
}

.progress_bar p {
	margin-bottom: 0px;
}

.bar {
	height: 10px;
	border: 1px solid #202026;
	background-color: #bebebe;
	position: relative;
}

.bar::after {
	content: "";
	display: block;
	height: 100%;
	background-color: #202026;
	width: inherit;
}

/* Estilos para telas grandes (desktop) */
@media screen and (min-width: 1024px) {
	body {
		background: linear-gradient(to right, #868f98 33%, #ced2d5 33%);
	}

	header {
		max-width: 100%;
	}

	.personal_info {
		flex-direction: row;
		column-gap: 15px;
		height: 300px;
		padding: 0px;
		line-height: 1;
		border-bottom: #c9a62a 4px solid;
	}

	.personal_info h1,
	.personal_info h2 {
		text-align: left;
	}

	.personal_photo > img {
		width: 300px;
		height: 300px;
		border: solid 6px #f1f0f2;
		margin-bottom: -80px;
	}

	.personal_info div {
		margin: 0em 0.5em;
	}

	.personal_contact h1 {
		text-align: left;
		font-size: 4em;
	}

	.personal_contact h2 {
		text-align: left;
		font-size: 2.2em;
	}

	.personal_contact ul {
		flex-direction: row;
		column-gap: 30px;
		margin-top: 30px;
	}

	.personal_contact li {
		color: #f1f0f2;
		text-align: center;
		padding-top: 30px;
		position: relative;
		padding-top: 40px;
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		font-size: 0.6em;
	}

	.li__divider {
		border-right: #c9a62a 2px solid;
	}

	.fa-solid {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		font-size: 2.5em;
	}
}

/* Estilos para telas médias (tablets) */
@media screen and (min-width: 769px) {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.page__wrapper {
		max-width: 1280px;
	}

	#personal_history {
		display: grid;
		grid-template-columns: 30% 60%;
		grid-template-rows: auto auto;
		grid-template-areas:
			"education profile"
			"language certification"
			"skills experience";
		gap: 35px;
		padding-top: 40px;
	}

	#personal_history__profile {
		grid-area: profile;
	}

	#personal_history__education {
		grid-area: education;
	}

	#personal_history__language {
		grid-area: language;
	}

	#personal_history__certification {
		grid-area: certification;
	}

	#personal_history__experience {
		grid-area: experience;
	}

	#personal_history__skills {
		grid-area: skills;
	}
}
